@charset"utf-8";

/*
Blue: #0099cc
Orange: #ff8a00
Red: #cc0000
Green: #669900
*/
 @font-face {
    font-family:'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url(../fonts/roboto.ttf);
    src: local('Roboto Medium'), local('Roboto-Medium'), url(../fonts/roboto.ttf) format('truetype');
}
@font-face {
    font-family:'Lane';
    src: url(../fonts/lane.ttf);
    src: local('Lane'), url(../fonts/lane.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family:'Roboto', Arial, sans-serif;
    cursor: default;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #eeeeee;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
a:hover {
    color: #ffffff;
}
h1 {
    font-family:'Lane';
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
}
h2 {
    font-family:'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    margin-bottom: 2px;
}
p {
    margin-bottom: 10px;
    margin-top: 0px;
    font-size: 18px;
}
img {
    border: none;
}
body {
    overflow-y: hidden;
    overflow-x: hidden !important;
    margin: 0px;
    background-color: #FFF;
}
table tr {
    vertical-align: top;
}
#content {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
#questionContainer {
    position: absolute;
    top: 50px;
    left: 20px;
    right: 20px;
    height: 200px;
    padding: 20px;
    background-color: #0099cc;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}
#question {
    text-align: center;
    font-family:'Lane';
    font-weight: 500;
    font-style: normal;
    font-size: 70px;
}
#answersContainer {
    position: absolute;
    top: 310px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #0099cc;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}
.answerContainer {
    width: 50%;
    height: 50%;
}
.answerSubContainer {
    position: absolute;
    padding: 20px;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #50c0e9;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.answerNumber {
	position: absolute;
	top: 0px;
	left: 0px;
    width: 40px;
    height: 40px;
    font-size: 26px;
    text-align: center;
    background-color: #8ad5f0;
    -webkit-border-radius: 0 0 20px 0;
	border-radius: 0 0 20px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.answer {
    width: 100%;
    height: 100%;
    font-family:'Lane';
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
}
#answer1Container {
    position: absolute;
    top: 0px;
    left: 0px;
}
#answer2Container {
    position: absolute;
    top: 0px;
    left: 50%;
}
#answer3Container {
    position: absolute;
    top: 50%;
    left: 0px;
}
#answer4Container {
    position: absolute;
    top: 50%;
    left: 50%;
}
#timerContainer {
	display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #ffc641;
}
#timer {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    background-color: #ff8a00;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#scoreContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 30px;
    background-color: #50c0e9;
}
.score {
    position: absolute;
    height: 100%;
    background-color: #09C;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    -ms-transition: all 1.5s ease;
    transition: all 1.5s ease;
}
#score1 {
    left: 0px;
    right: 50%;
    -webkit-border-radius: 15px 0 0 15px;
    border-radius: 15px 0 0 15px;
}
#score2 {
    left: 50%;
    right: 0px;
    -webkit-border-radius: 0 15px 15px 0;
    border-radius: 0 15px 15px 0;
}
.rounded {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.disable_select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#leapCanvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    pointer-events: none;
}
